.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
    to right top,
    #303031,
    #3d3e3f,
    #4b4d4e,
    #5a5d5c,
    #6b6c6a
  );
  color: white;
}

#header {
  font-size: 120%;
  font-weight: bold;
  align-self: center;
  text-shadow: 1px 1px lightgray;
  padding-left: 5%;
}

#logo {
  height: 20%;
  width: 20%;
  border-radius: 10px;
}

#spotlight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#intro {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

#intro-paragraph {
  padding: 10%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: larger;
}

#features {
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px lightgray;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.feature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  height: 300px;
  margin-top: 15%;
}

.feature-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.feature-desc {
  width: 70%;
  box-shadow: 0px 5px 5px #242324;
  /* border: 1px solid gray; */
  height: 100%;
  align-content: center;
  border-radius: 20px;
}
.column {
  display: flex;
  align-items: center;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.headshot {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#footer {
  padding-top: 20%;
  font-size: larger;
  padding: 10%;
}

#meet {
  padding-bottom: 75px;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px lightgray;
}

.selfie {
  margin-top: 10%;
  height: 250px;
  width: 300px;
  border-radius: 30px;
  margin-left: 15%;
  border: 1px solid silver;
}

.icon-row {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.github {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 10px;
}

.linkedin {
  height: 40px;
  border-radius: 10px;
}
